<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711306835746-u5ci47tv0ts6ejjrsm29v2in3cfel8ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711306835746-u5ci47tv0ts6ejjrsm29v2in3cfel8ii</string>
	<key>API_KEY</key>
	<string>AIzaSyB5eWHWUy0eALY0QnJ9Dw5qxd8v11RtvyY</string>
	<key>GCM_SENDER_ID</key>
	<string>711306835746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>offtop.AVsoftTest</string>
	<key>PROJECT_ID</key>
	<string>avnew-39604</string>
	<key>STORAGE_BUCKET</key>
	<string>avnew-39604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711306835746:ios:cd596e9b8c92f2953c977b</string>
	<key>DATABASE_URL</key>
	<string>https://avnew-39604.firebaseio.com</string>
</dict>
</plist>